@font-face {
  font-family: "monoglyceride";
  src: url(../fonts/monoglyceride/monodb_.ttf) format("truetype");
}

.btn-group{
  margin: 0;
}
.fas {
  font-size: 1.12rem;
  top: 1px;
  position: relative;
  margin-right: 3px;
}
.cursor-pointer{
  cursor: pointer;
}

.margin-top-0 {
  margin-top: 0;
}
.margin-right-0 {
  margin-right: 0!important;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.padding-top-0{
  padding-top: 0!important;
}

.navbar .navbar-brand {
  padding: 0;
  margin-right: 0;
}

.ors-font {
  font-family: monoglyceride;
}

/* Portrait */
@media screen and (orientation: portrait) {
}
.img-padding {
  padding: 40px;
}
.title {
  font-family: monoglyceride;
  color: #1b176b;
}
.ors-blue {
  color: #1b176b !important;
}
.navbar .navbar-nav .nav-item .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item:hover {
  color: #1b176b;
}
.navbar .navbar-nav .nav-item .nav-link i,
.navbar .navbar-nav .nav-item.active .nav-link i,
.navbar .navbar-nav .nav-item:hover i {
  color: #be0000;
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
  background-color: #1b176b;
}
.navbar .navbar-nav .nav-item {
  border-radius: 5%;
}
.navbar .navbar-nav .nav-item.active {
  background-color: #e9e8f0;
}
.img-hover-zoom {
  transition: transform 0.2s;
}
.img-hover-zoom:hover {
  transform: scale(1.2);
}
.section-header {
  height: 70vh;
}
.section-img {
  padding: 20px 0;
  /* min-height: 330px */
  background-size: cover;
  background-position-x: center;
  position: relative;
  border-radius: 5%;
}

.section-img .section-text {
  color: #fff;
  position: relative;
  z-index: 1;
}

.section-img .img-copy {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #fff;
  font-size: 10px;
}

.section-img .section-text .title {
  color: #fff;
}

.section-img .section-text .description {
  margin-top: 100px;
  color: #fff;
}

.section-img:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 5%;
}

@media (max-width: 1190px) {
  .reset-background-position-small {
    background-position-y: 0 !important;
  }
}
@media (min-width: 768px) {
  .section-img {
    min-height: 450px;
  }
}

@media (min-width: 992px) {
  .section-img {
    min-height: 450px;
    background-position-y: -100px;
  }
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.showOnScroll,
.showOnReady {
  opacity: 0;
}

.ranking .list-group-item span,
.ranking .list-group-item {
  margin-right: 0;
  padding: 0;
  height: 40px;
  line-height: 40px;
}

.ranking .list-group-item span.puntos {
  position: absolute;
  right: 16px;
}

.ranking>.list-group-item:nth-child(1) span.pos {
  font-size: 18px;
  height: 40px;
  width: 60px;
  text-align: center;
  margin-right: 20px;
  background: #ffd700;
}
.ranking>.list-group-item:nth-child(2) span.pos {
  font-size: 18px;
  height: 40px;
  width: 50px;
  text-align: center;
  margin-right: 20px;
  background: #c0c0c0;
}
.ranking>.list-group-item:nth-child(3) span.pos {
  font-size: 18px;
  height: 40px;
  width: 40px;
  text-align: center;
  margin-right: 20px;
  background: #cd7f32;
}
.ranking .list-group-item span.pos {
  font-size: 18px;
  height: 40px;
  width: 30px;
  text-align: center;
  margin-right: 20px;
  background: #e9e9e9;
  position: relative;
  font-weight: bold;
}
.ranking>.list-group-item:nth-child(1) span.pos::after {
  border-top-color: #ffd700;
}

.ranking>.list-group-item:nth-child(2) span.pos::after {
  border-top-color: #c0c0c0;
}

.ranking>.list-group-item:nth-child(3) span.pos::after {
  border-top-color: #cd7f32;
}

.ranking .list-group-item span.pos::after {
  content: "";
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-top: 40px solid #e9e9e9;
  position: absolute;
  right: -20px;
  border-top-right-radius: 5px;
}

.ranking>.list-group-item:last-child {
  border: 1px solid #e4e4e4;
  background: #e4e4e4;
}
.ranking .list-group-item {
  border: 1px solid #eee;
  background: #eee;
}


.ranking>.list-group-item:first-child{
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.ranking>.list-group-item:first-child>span{
border-top-left-radius: 5px;
}
.ranking>.list-group-item:last-child {
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}
.ranking>.list-group-item:nth-child(1) {
  border: 1px solid #ffef99;
  background: #ffef99;
}
.ranking>.list-group-item:nth-child(2) {
  border: 1px solid #dfdfdf;
  background: #dfdfdf;
}
.ranking>.list-group-item:nth-child(3) {
  border: 1px solid #f5d9bc;
  background: #f5d9bc;
}

.ranking .list-group-item.more {
 font-size: 12px;
}
.alert{
  border-radius: 3px;
  padding: 0.5rem 15px;
  margin-left: 15px;
  margin-right: 15px;
  border: 0;
  background: linear-gradient(60deg, #eee, #bdbdbd);
}
.alert.alert-warning{
  background: linear-gradient(60deg, #ffa726, #f57c00);
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(255, 152, 0, 0.6);

}

.ors-carousel img {
  max-height: 250px;
  object-fit: contain;
  padding-top: 15px;
  padding-bottom: 50px;
}
.ors-carousel .carousel-control i{
  color:#1b176b;
}
.ors-carousel .carousel-indicators li {
  background: #1b176b;
  border-color: #1b176b;
}